@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-bg: #242526;
    --secondary-bg: #fff;
    --primary-text-color: #555;
    --secondary-text-color: #cecece;
    --border-radius: 8px;
    --speed: 500ms;
  }

@layer base{

  .my-bg-class {
    background-color: #2f4875;
  }
  
  
.dropdown-menu{
    position: absolute;
    top: 100px;
    right: 20px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    width: 200px;
  }
  
  .dropdown-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
  }
  
  .dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
  }
  
  .dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
  }

  

.dropdown-menu ul li{
    padding: 10px  ;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }


  .dropdown-menu ul li:hover{
    background: #edecec;

  }
  
 
  
  .dropdown-menu ul li:hover img{
    opacity: 1;
    cursor: pointer;
  }
  
  .dropdownItem{
    display: flex;
    margin: 10px auto;
  }
  
  .dropdownItem img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    max-height: 20px;
    transition: var(--speed);
  }
  
  .dropdownItem a{
    max-width: 100px;
    margin-left: 10px;
    transition: var(--speed);
  }

  ul{
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }


 
}



@font-face {
    font-family:' acumin-pro ';
    src: url(/static/font/acumin-pro-cufonfonts-webfont/Acumin-BdItPro.woff);
    src: url(/static/font/acumin-pro-cufonfonts-webfont/Acumin-BdPro.woff);
    src: url(/static/font/acumin-pro-cufonfonts-webfont/Acumin-ItPro.woff);
    src: url(/static/font/acumin-pro-cufonfonts-webfont/Acumin-RPro.woff);
}